<div class="event-container">
  <h2>Event 1: Kimberley’s Birthday 27/04/25</h2>
  <picture>
    <source srcset="images/birthday-large.jpg" media="(min-width: 1024px)" />
    <source srcset="images/birthday-medium.jpg" media="(min-width: 768px)" />
    <source srcset="images/birthday-small.jpg" media="(max-width: 767px)" />
    <img src="images/birthday-fallback.jpg" alt="Kimberley's Birthday Event" />
  </picture>
  <p id="description">
    An afternoon of the cute people in my life reading there cute words out
    loud. 28 is going to be my softest year yet and I’ve invited you because I
    feel like this is your sort of thing. You don’t have to read anything, you
    can just come and listen. If you'd like to read something (poem/letter/short
    story), an extract or poem you love, or just some lyrics you like then plz
    write your name on the line up below.
  </p>
  <p id="location">Sunday 27th of April (i.e my bdayyyy)</p>
  <ul id="rules">
    <li>We’ll pull names out of a hat to decide the order</li>
    <li>
      Three pieces per person cap (if there’s more you desperately want to read
      we can be soft)
    </li>
    <li>Sober space but plz bring your nosecco and 0% beer by the gallon.</li>
  </ul>
  <p id="time">16:00 - 20:00</p>
</div>
