<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="../styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Kings&family=Luxurious+Script&display=swap"
    rel="stylesheet"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.min.js"></script>
</head>
<body>
  
  <div class="event-container">
    <div class="eventDescription__container">
      <a href="../index.html" class="home-arrow">
  &#8592;
</a>
      <h3>Event:</h3>
      <h1>Kimberley’s 28th Birthday</h1>
      <div class="desktop-birthday">
        <div>
          <img
            src="../mirror.jpg"
            alt="Kimberley's Birthday Event"
            class="birthday__img"
          />
        </div>
        <div class="birthday__column">
          <div class="event-details">
            <p id="info">16:00-20:00, Sunday 27th of April, My House</p>
          </div>
          <hr />
          <p id="description" class="mb-2">
            I've deided i'm entering the "romancing myself era" and that 28 is going to be my softest year yet. So, I want to celebrate by hearing the cute people in my life read their beautiful
            words out loud. A poem, a letter, a short story, a text, or
            even lyrics you love. As much as you can fit into 10mins ish (or less). You don’t have to
            read anything, just come, listen, and soak in the words if that's more comfy. 
          </p>
          <h2>Let me know if you're coming!</h2>
        </div>
  </div>
  </div>
  <script src="../trails.js"></script>
</body>
