<head>
  <link rel="stylesheet" href="..//styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Kings&family=Luxurious+Script&display=swap"
    rel="stylesheet"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.min.js"></script>
</head>
<body>
  
  <div class="event-container">
    <div class="eventDescription__container">
      <a href="..//index.html" class="home-arrow">
  &#8592;
</a>
      <h3>Event:</h3>
      <h1>Kimberley’s 28th Birthday</h1>
      <img
        src="../mirror.jpg"
        alt="Kimberley's Birthday Event"
        class="birthday__img"
      />
<div class="event-details">
  <p id="info">16:00-20:00, Sunday 27th of April, My House</p>
</div>
<hr />
      <p id="description" class="mb-2">
        I've deided i'm entering the "romancing myself era" so I want to celebrate by hearing the cute people in my life read their beautiful
        words out loud. 28 is going to be my softest year yet. You don’t have to
        read anything, just come, listen, and soak in the words. But if you’d
        like to share something; a poem, a letter, a short story, a text, or
        even lyrics you love, please add your name to the lineup below. As much as you can fit into 10mins ish (or less).
      </p>

      <h2>Confirm with me if you'd like to read something!</h2>
        <script src="..//trails.js"></script>
  </div>
</body>
